# virtualenv
venv/

# Training data
TEST_DATA/
experiments/
data/data_labelme
test_bash
htmlcov
test.py


# Byte-compiled / optimized / DLL files
__pycache__

.ipynb
.idea/
.ipynb_checkpoints/

unet.egg-info

.env
.coverage

tests/data/rtdc_ds_with_img_bg_ml_scores.zip
unet/hdf5_to_rtdc.py
tests/test_cli.py