# virtualenv
venv/

# Training data
TEST_DATA/
experiments/
data/data_labelme


# Byte-compiled / optimized / DLL files
__pycache__

.ipynb
.idea/
.ipynb_checkpoints/

unet.egg-info

test_init.py

unet.egg-info
.env
