# virtualenv
venv/

# Training data
all_data/
htmlcov


# Byte-compiled / optimized / DLL files
__pycache__
.ipynb
.idea/
.ipynb_checkpoints/
semanticsegmentor.egg-info/


unet.egg-info

.env
.coverage

# data
data_all_320
data/__MACOSX/
data/training_testing_set_w_beads_and_enrichment/
data/training_testing_set_only_enrichment/


# Experiment dir
experiments
experiments_old

# Test scripts
test.py
testing.py
unet/new_unet.py
tests/data/rtdc_ds_with_img_bg_ml_scores.zip
tests/test_cli.py

